<header class="header-6">
  <div class="branding">
      <span class="nav-link">
        <clr-icon shape="view-cards"></clr-icon>
        <span class="title">Portal</span>
      </span>
  </div>
  <div class="header-actions">
      <span class="nav-link nav-text name">
        {{name}}
      </span>
  </div>
</header>
