<div class="app">
  <div><img class="photo" [src]="photo"/></div>
  <form class="form" [formGroup]="form">
    <section class="form-block">
      <div class="form-group">
        <input id="empPhoto" class="change-photo" type="file" accept="image/*" (change)="onInputChange($event)"
               formControlName="photo">
      </div>
    </section>
  </form>
</div>
