<form class="form app" [formGroup]="form" (ngSubmit)="onSubmit()">
  <section class="form-block">
    <div class="form-group">
      <label for="empName">name</label>
      <label for="empName"
             aria-haspopup="true"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-sm"
             [class.invalid]="form.get('name')!.invalid
                    && (form.get('name')!.dirty || form.get('name')!.touched)">
        <input id="empName" class="change-name" type="text" formControlName="name">
        <span class="tooltip-content">Name is required.</span>
      </label>
    </div>
    <button class="btn btn-primary submit"
            type="submit"
            [disabled]="form.invalid">Update
    </button>
  </section>
</form>
