<clr-datagrid class="app">
  <clr-dg-column>History</clr-dg-column>

  <clr-dg-row *ngFor="let notification of notifications">
    <clr-dg-cell [ngSwitch]="notification.type">
      <span *ngSwitchCase="'[Notification] Change Name'">Name has changed to {{notification.name}}</span>
      <span *ngSwitchCase="'[Notification] Change Photo'">Photo has changed</span>
    </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
