<section class="sidenav-content">
  <section class="nav-group">
    <input id="apps" type="checkbox">
    <label for="apps">Apps</label>
    <ul class="nav-list">
      <li><a [routerLink]="['/name/edit']" class="nav-link name-link" [routerLinkActive]="'active'">
        Name
      </a></li>
      <li><a [routerLink]="['/photo/edit']" class="nav-link photo-link" [routerLinkActive]="'active'">
        Photo
      </a></li>
      <li><a [routerLink]="['/history/view']" class="nav-link history-link" [routerLinkActive]="'active'">
        History
      </a></li>
    </ul>
  </section>
</section>
