<ng-template ngFor let-notification [ngForOf]="notifications">
  <div class="alert alert-success alert-sm" *ngIf="notification.asAlert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span [ngSwitch]="notification.type">
          <span *ngSwitchCase="'[Notification] Change Name'">Name successfully changed!</span>
          <span *ngSwitchCase="'[Notification] Change Photo'">Photo successfully changed!</span>
        </span>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="closeNotification.emit(notification.id)">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>
</ng-template>
