<div class="main-container">
  <portal-header [name]="name | async"></portal-header>
  <div class="content-container">
    <div class="content-area">
      <portal-alert [notifications]="notifications | async" (closeNotification)="closeNotification($event)"></portal-alert>

      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav" portal-menu></nav>
  </div>
</div>
